In [1]:
import pandas as pd

o3_2019_df = pd.read_csv("./2019 Cleaned/our_cities_o3_2019.csv")
o3_2019_df.groupby("City").count()
o3_dates = sorted(o3_2019_df["Date"].unique())

pm25_2019_df = pd.read_csv("./2019 Cleaned/our_cities_pm25_2019.csv")
pm25_2019_df.groupby("City").count()
pm25_dates = sorted(pm25_2019_df["Date"].unique())
pm25_dates

FileNotFoundError: [Errno 2] File ./2019 Cleaned/our_cities_o3_2019.csv does not exist: './2019 Cleaned/our_cities_o3_2019.csv'

In [44]:
o3_2018_df = pd.read_csv("./2018 Cleaned/our_cities_o3_2018.csv")
o3_2018_df.groupby("City").count()
o3_dates = sorted(o3_2017_df["Date"].unique())
o3_dates

pm25_2018_df = pd.read_csv("./2018 Cleaned/our_cities_pm25_2018.csv")
pm25_2018_df.groupby("City").count()
pm25_dates = sorted(pm25_2018_df["Date"].unique())
pm25_dates

['2018-01-01',
 '2018-01-02',
 '2018-01-03',
 '2018-01-04',
 '2018-01-05',
 '2018-01-06',
 '2018-01-07',
 '2018-01-08',
 '2018-01-09',
 '2018-01-10',
 '2018-01-11',
 '2018-01-12',
 '2018-01-13',
 '2018-01-14',
 '2018-01-15',
 '2018-01-16',
 '2018-01-17',
 '2018-01-18',
 '2018-01-19',
 '2018-01-20',
 '2018-01-21',
 '2018-01-22',
 '2018-01-23',
 '2018-01-24',
 '2018-01-25',
 '2018-01-26',
 '2018-01-27',
 '2018-01-28',
 '2018-01-29',
 '2018-01-30',
 '2018-01-31',
 '2018-02-01',
 '2018-02-02',
 '2018-02-03',
 '2018-02-04',
 '2018-02-05',
 '2018-02-06',
 '2018-02-07',
 '2018-02-08',
 '2018-02-09',
 '2018-02-10',
 '2018-02-11',
 '2018-02-12',
 '2018-02-13',
 '2018-02-14',
 '2018-02-15',
 '2018-02-16',
 '2018-02-17',
 '2018-02-18',
 '2018-02-19',
 '2018-02-20',
 '2018-02-21',
 '2018-02-22',
 '2018-02-23',
 '2018-02-24',
 '2018-02-25',
 '2018-02-26',
 '2018-02-27',
 '2018-02-28',
 '2018-03-01',
 '2018-03-02',
 '2018-03-03',
 '2018-03-04',
 '2018-03-05',
 '2018-03-06',
 '2018-03-07',
 '2018-03-08',
 '2018-03-09',
 '2018-03-10',
 '2018-03-11',
 '2018-03-12',
 '2018-03-13',
 '2018-03-14',
 '2018-03-15',
 '2018-03-16',
 '2018-03-17',
 '2018-03-18',
 '2018-03-19',
 '2018-03-20',
 '2018-03-21',
 '2018-03-22',
 '2018-03-23',
 '2018-03-24',
 '2018-03-25',
 '2018-03-26',
 '2018-03-27',
 '2018-03-28',
 '2018-03-29',
 '2018-03-30',
 '2018-03-31',
 '2018-04-01',
 '2018-04-02',
 '2018-04-03',
 '2018-04-04',
 '2018-04-05',
 '2018-04-06',
 '2018-04-07',
 '2018-04-08',
 '2018-04-09',
 '2018-04-10',
 '2018-04-11',
 '2018-04-12',
 '2018-04-13',
 '2018-04-14',
 '2018-04-15',
 '2018-04-16',
 '2018-04-17',
 '2018-04-18',
 '2018-04-19',
 '2018-04-20',
 '2018-04-21',
 '2018-04-22',
 '2018-04-23',
 '2018-04-24',
 '2018-04-25',
 '2018-04-26',
 '2018-04-27',
 '2018-04-28',
 '2018-04-29',
 '2018-04-30',
 '2018-05-01',
 '2018-05-02',
 '2018-05-03',
 '2018-05-04',
 '2018-05-05',
 '2018-05-06',
 '2018-05-07',
 '2018-05-08',
 '2018-05-09',
 '2018-05-10',
 '2018-05-11',
 '2018-05-12',
 '2018-05-13',
 '2018-05-14',
 '2018-05-15',
 '2018-05-16',
 '2018-05-17',
 '2018-05-18',
 '2018-05-19',
 '2018-05-20',
 '2018-05-21',
 '2018-05-22',
 '2018-05-23',
 '2018-05-24',
 '2018-05-25',
 '2018-05-26',
 '2018-05-27',
 '2018-05-28',
 '2018-05-29',
 '2018-05-30',
 '2018-05-31',
 '2018-06-01',
 '2018-06-02',
 '2018-06-03',
 '2018-06-04',
 '2018-06-05',
 '2018-06-06',
 '2018-06-07',
 '2018-06-08',
 '2018-06-09',
 '2018-06-10',
 '2018-06-11',
 '2018-06-12',
 '2018-06-13',
 '2018-06-14',
 '2018-06-15',
 '2018-06-16',
 '2018-06-17',
 '2018-06-18',
 '2018-06-19',
 '2018-06-20',
 '2018-06-21',
 '2018-06-22',
 '2018-06-23',
 '2018-06-24',
 '2018-06-25',
 '2018-06-26',
 '2018-06-27',
 '2018-06-28',
 '2018-06-29',
 '2018-06-30',
 '2018-07-01']

In [30]:
o3_2017_df = pd.read_csv("./2017 Cleaned/our_cities_o3_2017.csv")
o3_2017_df.groupby("City").count()
# o3_dates = sorted(o3_2017_df["Date"].unique())
# o3_dates

pm25_2017_df = pd.read_csv("./2017 Cleaned/our_cities_pm25_2017.csv")
pm25_2017_df.groupby("City").count()
pm25_dates = sorted(pm25_2017_df["Date"].unique())
pm25_dates

['2016-12-26',
 '2016-12-27',
 '2016-12-28',
 '2016-12-29',
 '2016-12-30',
 '2016-12-31',
 '2017-01-01',
 '2017-01-02',
 '2017-01-03',
 '2017-01-04',
 '2017-01-05',
 '2017-01-06',
 '2017-01-07',
 '2017-01-08',
 '2017-01-09',
 '2017-01-10',
 '2017-01-11',
 '2017-01-12',
 '2017-01-13',
 '2017-01-14',
 '2017-01-15',
 '2017-01-16',
 '2017-01-17',
 '2017-01-18',
 '2017-01-19',
 '2017-01-20',
 '2017-01-21',
 '2017-01-22',
 '2017-01-23',
 '2017-01-24',
 '2017-01-25',
 '2017-01-26',
 '2017-01-27',
 '2017-01-28',
 '2017-01-29',
 '2017-01-30',
 '2017-01-31',
 '2017-02-01',
 '2017-02-02',
 '2017-02-03',
 '2017-02-04',
 '2017-02-05',
 '2017-02-06',
 '2017-02-07',
 '2017-02-08',
 '2017-02-09',
 '2017-02-10',
 '2017-02-11',
 '2017-02-12',
 '2017-02-13',
 '2017-02-14',
 '2017-02-15',
 '2017-02-16',
 '2017-02-17',
 '2017-02-18',
 '2017-02-19',
 '2017-02-20',
 '2017-02-21',
 '2017-02-22',
 '2017-02-23',
 '2017-02-24',
 '2017-02-25',
 '2017-02-26',
 '2017-02-27',
 '2017-02-28',
 '2017-03-01',
 '2017-03-02',
 '2017-03-03',
 '2017-03-04',
 '2017-03-05',
 '2017-03-06',
 '2017-03-07',
 '2017-03-08',
 '2017-03-09',
 '2017-03-10',
 '2017-03-11',
 '2017-03-12',
 '2017-03-13',
 '2017-03-14',
 '2017-03-15',
 '2017-03-16',
 '2017-03-17',
 '2017-03-18',
 '2017-03-19',
 '2017-03-20',
 '2017-03-21',
 '2017-03-22',
 '2017-03-23',
 '2017-03-24',
 '2017-03-25',
 '2017-03-26',
 '2017-03-27',
 '2017-03-28',
 '2017-03-29',
 '2017-03-30',
 '2017-03-31',
 '2017-04-01',
 '2017-04-02',
 '2017-04-03',
 '2017-04-04',
 '2017-04-05',
 '2017-04-06',
 '2017-04-07',
 '2017-04-08',
 '2017-04-09',
 '2017-04-10',
 '2017-04-11',
 '2017-04-12',
 '2017-04-13',
 '2017-04-14',
 '2017-04-15',
 '2017-04-16',
 '2017-04-17',
 '2017-04-18',
 '2017-04-19',
 '2017-04-20',
 '2017-04-21',
 '2017-04-22',
 '2017-04-23',
 '2017-04-24',
 '2017-04-25',
 '2017-04-26',
 '2017-04-27',
 '2017-04-28',
 '2017-04-29',
 '2017-04-30',
 '2017-05-01',
 '2017-05-02',
 '2017-05-03',
 '2017-05-04',
 '2017-05-05',
 '2017-05-06',
 '2017-05-07',
 '2017-05-08',
 '2017-05-09',
 '2017-05-10',
 '2017-05-11',
 '2017-05-12',
 '2017-05-13',
 '2017-05-14',
 '2017-05-15',
 '2017-05-16',
 '2017-05-17',
 '2017-05-18',
 '2017-05-19',
 '2017-05-20',
 '2017-05-21',
 '2017-05-22',
 '2017-05-23',
 '2017-05-24',
 '2017-05-25',
 '2017-05-26',
 '2017-05-27',
 '2017-05-28',
 '2017-05-29',
 '2017-05-30',
 '2017-05-31',
 '2017-06-01',
 '2017-06-02',
 '2017-06-03',
 '2017-06-04',
 '2017-06-05',
 '2017-06-06',
 '2017-06-07',
 '2017-06-08',
 '2017-06-09',
 '2017-06-10',
 '2017-06-11',
 '2017-06-12',
 '2017-06-13',
 '2017-06-14',
 '2017-06-15',
 '2017-06-16',
 '2017-06-17',
 '2017-06-18',
 '2017-06-19',
 '2017-06-20',
 '2017-06-21',
 '2017-06-22',
 '2017-06-23',
 '2017-06-24',
 '2017-06-25',
 '2017-06-26',
 '2017-06-27',
 '2017-06-28',
 '2017-06-29',
 '2017-06-30',
 '2017-07-01',
 '2017-07-02']

In [42]:
all_2017_df = pd.read_csv("./2017 Source/waqi-covid19-airqualitydata-2017H1.csv")
New_Delhi_2017 = all_2017_df.loc[all_2017_df["City"] == "New Delhi"]
# New_Delhi_2017
New_Delhi_2017.groupby("Specie").count()
# all_cities_2017 = sorted(all_2017_df["City"].unique())
# all_cities_2017

,Date,Country,City,Specie,count,min,max,median,variance
136958,2017-03-16,IN,New Delhi,pm25,23,107.0,326.0,155.0,25481.30
136959,2017-04-05,IN,New Delhi,pm25,23,34.0,155.0,80.0,9041.70
136960,2017-06-03,IN,New Delhi,pm25,24,95.0,192.0,159.0,9740.80
136961,2017-06-24,IN,New Delhi,pm25,24,85.0,157.0,139.0,6301.14
136962,2017-06-26,IN,New Delhi,pm25,24,93.0,153.0,119.0,2793.04
...,...,...,...,...,...,...,...,...,...
137141,2017-05-08,IN,New Delhi,pm25,24,154.0,225.0,189.0,2969.49
137142,2017-01-23,IN,New Delhi,pm25,20,164.0,316.0,224.0,20338.40
137143,2017-02-04,IN,New Delhi,pm25,4,197.0,205.0,199.0,133.33
137144,2017-02-17,IN,New Delhi,pm25,24,117.0,197.0,173.0,3733.46
137145,2017-05-15,IN,New Delhi,pm25,24,57.0,203.0,151.0,17439.10

In [80]:
# add 2020 data
o3_2020_df = pd.read_csv("./2020 Cleaned/our_cities_o3_2020.csv")
o3_2020_df.groupby("City").count()
o3_dates = sorted(o3_2020_df["Date"].unique())
o3_dates

pm25_2020_df = pd.read_csv("./2020 Cleaned/our_cities_pm25_2020.csv")
pm25_2020_df.groupby("City").count()
pm25_dates = sorted(pm25_2020_df["Date"].unique())
pm25_dates

['2019-12-30',
 '2019-12-31',
 '2020-01-01',
 '2020-01-02',
 '2020-01-03',
 '2020-01-04',
 '2020-01-05',
 '2020-01-06',
 '2020-01-07',
 '2020-01-08',
 '2020-01-09',
 '2020-01-10',
 '2020-01-11',
 '2020-01-12',
 '2020-01-13',
 '2020-01-14',
 '2020-01-15',
 '2020-01-16',
 '2020-01-17',
 '2020-01-18',
 '2020-01-19',
 '2020-01-20',
 '2020-01-21',
 '2020-01-22',
 '2020-01-23',
 '2020-01-24',
 '2020-01-25',
 '2020-01-26',
 '2020-01-27',
 '2020-01-28',
 '2020-01-29',
 '2020-01-30',
 '2020-01-31',
 '2020-02-01',
 '2020-02-02',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-08',
 '2020-02-09',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-15',
 '2020-02-16',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-22',
 '2020-02-23',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-02-29',
 '2020-03-01',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-07',
 '2020-03-08',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-14',
 '2020-03-15',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04',
 '2020-04-05',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11',
 '2020-04-12',
 '2020-04-13',
 '2020-04-14',
 '2020-04-15',
 '2020-04-16',
 '2020-04-17',
 '2020-04-18',
 '2020-04-19',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-25',
 '2020-04-26',
 '2020-04-27',
 '2020-04-28',
 '2020-04-29',
 '2020-04-30',
 '2020-05-01',
 '2020-05-02',
 '2020-05-03',
 '2020-05-04',
 '2020-05-05',
 '2020-05-06',
 '2020-05-07',
 '2020-05-08',
 '2020-05-09',
 '2020-05-10',
 '2020-05-11',
 '2020-05-12',
 '2020-05-13',
 '2020-05-14',
 '2020-05-15',
 '2020-05-16',
 '2020-05-17',
 '2020-05-18',
 '2020-05-19',
 '2020-05-20',
 '2020-05-21',
 '2020-05-22',
 '2020-05-23',
 '2020-05-24',
 '2020-05-25',
 '2020-05-26',
 '2020-05-27',
 '2020-05-28',
 '2020-05-29',
 '2020-05-30',
 '2020-05-31',
 '2020-06-01',
 '2020-06-02',
 '2020-06-03',
 '2020-06-04',
 '2020-06-05',
 '2020-06-06',
 '2020-06-07',
 '2020-06-08',
 '2020-06-09',
 '2020-06-10',
 '2020-06-11',
 '2020-06-12',
 '2020-06-13',
 '2020-06-14',
 '2020-06-15',
 '2020-06-16',
 '2020-06-17',
 '2020-06-18',
 '2020-06-19',
 '2020-06-20',
 '2020-06-21',
 '2020-06-22',
 '2020-06-23',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-06-27',
 '2020-06-28',
 '2020-06-29',
 '2020-06-30',
 '2020-07-01',
 '2020-07-02',
 '2020-07-03',
 '2020-07-04',
 '2020-07-05',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08']

In [67]:
#write function to convert date columns to datetime objects and trim dates for month>6 (after end of June)
#returns a new dataframe with "Date" column elements as datetime objects, starting 1/1 until 6/30 for any year
def trimDataframes(sample_df):
    #copied sample_df to change
    output_df = sample_df.copy()
    
    #convert "Date" column values to datetime objects
    output_df["Date"] = pd.to_datetime(output_df["Date"])
    
    #set "Date" column as index for the output_df
    output_df = output_df.set_index("Date")
    
    #remove all unwanted dates out of range (after 6/30)
    output_df = output_df.loc[output_df.index.month <= 6]
    
    #sort the values by date
    output_df = output_df.sort_values(by="Date")
    
    return output_df

In [68]:
#trim 2017 data 

#ozone
o3_2017_trimmed_df = trimDataframes(o3_2017_df)
o3_2017_trimmed_df

#pm2.5
pm25_2017_trimmed_df = trimDataframes(pm25_2017_df)
pm25_2017_trimmed_df

,Country,City,Specie,count,min (ug/m3),max (ug/m3),median (ug/m3)
Date,,,,,,,
2017-01-01,IN,New Delhi,pm25,24,54.9,282.7,177.7
2017-01-01,CN,Shanghai,pm25,215,12.0,63.2,34.4
2017-01-01,US,Jacksonville,pm25,115,3.1,113.6,8.1
2017-01-01,US,Los Angeles,pm25,69,3.3,109.7,15.9
2017-01-01,US,Manhattan,pm25,96,4.3,23.0,12.1
...,...,...,...,...,...,...,...
2017-06-30,CN,Beijing,pm25,423,26.8,125.2,69.0
2017-06-30,IN,New Delhi,pm25,24,7.2,34.9,20.1
2017-06-30,CN,Shanghai,pm25,216,12.0,67.1,33.9
2017-06-30,US,Jacksonville,pm25,96,0.4,14.4,4.3
2017-06-30,CN,Wuhan,pm25,403,1.2,63.2,10.0

In [69]:
#trim 2018 data 
to_merge = []

#ozone
o3_2018_trimmed_df = trimDataframes(o3_2018_df)
o3_2018_trimmed_df

#pm2.5
pm25_2018_trimmed_df = trimDataframes(pm25_2018_df)
pm25_2018_trimmed_df

to_merge.append((o3_2018_trimmed_df, pm25_2018_trimmed_df))

In [70]:
#trim 2019 data 

#ozone
o3_2019_trimmed_df = trimDataframes(o3_2019_df)
o3_2019_trimmed_df

#pm2.5
pm25_2019_trimmed_df = trimDataframes(pm25_2019_df)
pm25_2019_trimmed_df

to_merge.append((o3_2019_trimmed_df, pm25_2019_trimmed_df))

In [71]:
#trim 2020 data 

#ozone
o3_2020_trimmed_df = trimDataframes(o3_2020_df)
o3_2020_trimmed_df

#pm2.5
pm25_2020_trimmed_df = trimDataframes(pm25_2020_df)
pm25_2020_trimmed_df

to_merge.append((o3_2020_trimmed_df, pm25_2020_trimmed_df))

In [78]:
#merge all dataframes in to_merge with the earliest year dataframe
all_years_o3_df = o3_2017_trimmed_df.copy()
all_years_pm25_df = pm25_2017_trimmed_df.copy()

for o3_df, pm25_df in to_merge:
    all_years_o3_df = all_years_o3_df.append(o3_df)
    all_years_pm25_df = all_years_pm25_df.append(pm25_df)
    
print(all_years_o3_df.head(10))
print(all_years_o3_df.tail(10))
all_years_pm25_df.head()

           Country          City Specie  count  min (ppb)  max (ppb)  \
Date
2017-01-01      US   Los Angeles     o3     24        2.0       31.0
2017-01-01      CN      Shanghai     o3    188        1.0       39.0
2017-01-01      US     Manhattan     o3     24        3.0       28.0
2017-01-01      US  Jacksonville     o3     46        2.0       18.0
2017-01-01      CN       Beijing     o3    235        1.0        8.0
2017-01-01      US       Houston     o3    119        1.0       30.0
2017-01-02      US     Manhattan     o3     23        8.0       19.0
2017-01-02      CN       Beijing     o3    385        1.0       30.0
2017-01-02      US   Los Angeles     o3     24        1.0       34.0
2017-01-02      CN      Shanghai     o3    207        1.0       41.0

            median (ppb)
Date
2017-01-01          10.0
2017-01-01          11.0
2017-01-01          16.0
2017-01-01          12.0
2017-01-01           2.0
2017-01-01          11.0
2017-01-02          11.0
2017-01-02           7.0
2017-01-02          12.0
2017-01-02           9.0
           Country          City Specie  count  min (ppb)  max (ppb)  \
Date
2020-06-29      US       Houston     o3    115        6.0       28.0
2020-06-29      CN         Wuhan     o3    383        1.0       51.0
2020-06-29      CN      Shanghai     o3    830        3.0       48.0
2020-06-30      CN       Beijing     o3    471        4.0       65.0
2020-06-30      US       Houston     o3    116        6.0       30.0
2020-06-30      US   Los Angeles     o3     24        2.0       36.0
2020-06-30      CN         Wuhan     o3    382        1.0       73.0
2020-06-30      US     Manhattan     o3     24       19.0       36.0
2020-06-30      US  Jacksonville     o3    120        2.0       17.0
2020-06-30      CN      Shanghai     o3    828        8.0       78.0

            median (ppb)
Date
2020-06-29          12.0
2020-06-29          23.0
2020-06-29          24.0
2020-06-30          46.0
2020-06-30          14.0
2020-06-30          23.0
2020-06-30          29.0
2020-06-30          28.0
2020-06-30           5.0
2020-06-30          43.0

,Country,City,Specie,count,min (ug/m3),max (ug/m3),median (ug/m3)
Date,,,,,,,
2017-01-01,IN,New Delhi,pm25,24,54.9,282.7,177.7
2017-01-01,CN,Shanghai,pm25,215,12.0,63.2,34.4
2017-01-01,US,Jacksonville,pm25,115,3.1,113.6,8.1
2017-01-01,US,Los Angeles,pm25,69,3.3,109.7,15.9
2017-01-01,US,Manhattan,pm25,96,4.3,23.0,12.1

In [81]:
#output final, cleaned data to o3 and pm25 complete csvs (over all years 2017-2020, for 1/1 thru 6/30)

all_years_o3_df.to_csv("../Resources/all_years_o3.csv")
all_years_pm25_df.to_csv("../Resources/all_years_pm25.csv")